body{
    margin: 0;
    background-color: #ffffff;
    font-family: "Roboto" , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    width: 100%;
}
#show-nav{
    position: absolute;
    top : 0px ;
    right: 0px ;
    color: #16E0BD;
    font-weight: bold;
    background-color: #ffffff;
    border : none ;
    height: 50px;
    width: 50px ;
    font-size: 35px;
    cursor : pointer;
}

nav{
    display : none;
    width: 100%;
    height: 100vh;
    background-color: #303030;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}
nav ul  {
    font-weight: bold;
    color : #ffffff;
    flex-direction: column;
}
nav ul li .link , li {
    text-decoration: none;
    list-style-type: none;
    font-size: 20px ;
    color : #ffffff;
    font-size: 40px ;
    margin-top: 20px ;
}
.link:hover , .link:active , .link:focus{
    color  :#16E0BD;
    
}
#name{
    display: flex;
    width: 100%;
    margin: 15px auto;
    background-color: #ffffff;
    justify-content: space-around;
    flex-wrap: wrap;
}
h1{
    font-size: 50px;
    font-weight: 400;   
    color: #303030; 
}
.face-photo{
    width : 300px ;
    border-radius: 3px ;
    margin: 5px ;
    position: relative;
    z-index: 2;
}
span{
    display: block;
    font-weight: bold;
}
.feild{
    display: block;
    width: 450px ;
    color : #252525;
    background-color: #16E0BD;
    padding : 10px 20px ;
    margin-top: 0;
    position: absolute;
    left: 0px;
    z-index: 1;
    top : 155px;
    
}
.feild-text{
    margin: 0;
    text-align: right;
}
.container{
    position: relative;
    display: inline-block;
}
#I-do{
    width : 100%;
    background-color: #2d2e2d;
    background-image: url("photos/laptob.png");
    background-size: cover;
}
#Articales{
    width: 100%;
    display : flex;
    justify-content: space-around;

}
/* tomorrow I will modify the sing up in weather app adding disabled , new Data file , and mouseover , mouseenter  */